@inject NavigationManager navman

<div>
    <select class="form-control mb-4" @bind="@SelectedGame">
        <option value="TicTacToe">TicTacToe</option>
        <option value="SeaBattle" disabled>Sea Battle</option>
    </select>
    <button class="btn btn-primary" @onclick="StartGame">Create game</button>
</div>

@code {
    public string SelectedGame { get; set; } = "TicTacToe";

    
    private void StartGame()
    {
        navman.NavigateTo($"/game/{Guid.NewGuid()}?gameType={SelectedGame}");
    }
}
